<template name="footer">
  <footer class="footer">
    <p class="text-center">
      <a href="https://github.com/charford/msg/issues/new" target="_tab">Report Issue</a>
      {{#if exportLink}}
      <span id="footer_buttons">
        <a target="_tab" class="btn btn-xs btn-default" href="{{exportLink}}.txt">
          <i class="glyphicon glyphicon-share"></i> TXT
        </a>
        <a target="_tab" class="btn btn-xs btn-default" href="{{exportLink}}.tsv">
          <i class="glyphicon glyphicon-share"></i> TSV
        </a>
      </span>
      {{/if}}
    </p>
  </footer>
</template>
