<template name="post">
  {{#if displayPost}}
  <li class="{{#if notMyPost}}disable-sort-item{{/if}} post panel panel-{{panelStyle type}}">
  <div class="panel-heading handle">
    {{#if myPost}}
    <i 
      class="pull-right glyphicon glyphicon-star"
      data-toggle="tooltip"
      data-placement="top"
      title="This post belongs to you."></i>
    {{/if}}
    </div>
    {{#if editMode}}
      {{>post_form}}
    {{else}}
    <div class="panel-body">
      <p>{{#emojione}}{{content}}{{/emojione}}</p>
    </div>
    {{/if}}
  </li>
  {{/if}}
</template>
